*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Segoe UI", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.layout__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;
  background-color: #ffffff;
}

.layout__logo {
  height: 68px;
  width: 210px;
  display: block;
}

.layout__nav {
  display: flex;
  gap: 60px;
}

.layout__nav-link {
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.layout__nav-link:hover {
  text-decoration: underline;
}

.layout__main {
  flex: 1;
  padding: 30px 40px;
}

.layout__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #000000;
  padding: 40px;
}

.layout__footer-logo {
  height: 39px;
  width: 122px;
  filter: brightness(0) invert(1);
}

.layout__footer-text {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
}


@media (max-width: 768px) {
  .layout__header {
    padding: 16px 20px;
  }

  .layout__logo {
    height: 46px;
    width: 145px;
  }

  .layout__nav {
    gap: 26px;
  }

  .layout__nav-link {
    font-size: 12px;
    white-space: nowrap;
    font-weight: 500;
    text-transform: uppercase;
  }

  .layout__main {
    padding: 16px 20px 0px 20px;
  }

  .layout__footer-logo {
    height: 39px;
  }

  .layout__footer-text {
    font-size: 12px;
    text-align: center;
    max-width: 105px;
  }

  .layout__footer {
    padding: 40px 16px;
  }
}