.banner {
background-size: 100%;
background-position: center;
border-radius: 25px;
display: flex;
align-items: center;
justify-content: center;
height: 223px;
}

.banner__text {
color: white;
font-size: 48px;
font-weight: 700;
font-family: 'Montserrat' , sans-serif;
text-shadow: -1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}

.mobile-break {
    display: none;
}

@media (max-width: 768px) {

    .banner {
        border-radius: 10px;
        background-size: cover;
        height: 111px;
        justify-content: flex-start;
    }

    .banner__text {
        font-size: 24px;
        padding-left: 15px;
    }
    
    .mobile-break {
        display: block;
    }
}