.home__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 50px;
  margin-top: 40px;
}

.home__grid a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {

  .home__grid {
    grid-template-columns: 1fr;
    padding: 0px;
    background-color: transparent;
    border-radius: 0;
    gap: 22px;
    margin-bottom: 24px;

  }
}